.mydiv2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.mydiv2 ul {
    display: flex;
    list-style: none;
}
.mydiv2 ul li a{
    text-decoration: none;
    color: #1B1B1B;
    margin: 20px;
    transition: all .3s ease;
}
.mydiv2 ul li a:hover{
    color: #f34f3f;
}

// .dropdown ul{
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }
// .dropdown ul li{
    
//     width: 200px;
//     height: 40px;
//     background-color: darkgray;
//     opacity: .9;
//     line-height: 40px;
//     text-align: center;
//     font-size: 20px;
// }
// .dropdown ul li a {
//     text-decoration: none;
//     color: white;
//     display: block;
// }
// .dropdown ul li a:hover{
//     background-color: lightsalmon;
// }
// .dropdown ul li ul li{
//     display: none;
// }
// .dropdown ul li:hover ul li{
//     display: block;
// }

}
#grid{
    font-family: 'Montserrat', sans-serif;
}
#grid h1{
    font-size: 13px ;
    font-weight: 500;
    color: black;
    padding-top: 20px;
}
#grid span{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}
#grid .card{
    border: none;
}